{% use "bootstrap_4_layout.html.twig" %}

{# Rows #}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    <{{ element|default('div') }} {{ block('form_group_attributes') }}>
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block button_row -%}
    <div {{ block('form_group_attributes') }}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block form_group_attributes -%}
    {% if (input_prepend|default()) or (input_append|default()) %}
        {{ block('input_group_attributes') }}
    {% else %}
        {% set group_attr = group_attr|merge({'class': ('form-group' ~ (group_attr.class is defined ? ' ' ~ group_attr.class : '') ~ ' ' ~ id ~ ' ' ~ name)|trim} ) %}
        {% apply spaceless %}
            {% for attrname, attrvalue in group_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
        {% endapply %}
    {% endif %}
{%- endblock form_group_attributes %}

{% block input_group_attributes -%}
    {% set group_attr = group_attr|merge({'class': ('input-group' ~ (group_attr.class is defined ? ' ' ~ group_attr.class : '') ~ ' ' ~ id ~ ' ' ~ name)|trim} ) %}
    {% apply spaceless %}
        {% for attrname, attrvalue in group_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endapply %}
{%- endblock input_group_attributes %}

{% block form_widget_simple -%}
    {% if input_prepend is not empty %}
        <div class="input-group-prepend">
            {% if 'btn' in input_prepend %}
                {{ input_prepend|raw }}
            {% else %}
                <span class="input-group-text">{{ input_prepend|raw }}</span>
            {% endif %}
        </div>
    {% endif %}
    {{- parent() -}}
    {% if input_append is not empty %}
        <div class="input-group-append">
            {% if 'btn' in input_append %}
                {{ input_append|raw }}
            {% else %}
                <span class="input-group-text">{{ input_append|raw }}</span>
            {% endif %}
        </div>
    {% endif %}
{%- endblock form_widget_simple %}
